$ei-font-path: "../../fonts/elegant-icons/fonts" !default;
@import "../../fonts/elegant-icons/scss/style";

$raleway-font-path: '../../fonts/fonts-raleway/fonts/fonts-raleway' !default;
@import "../../fonts/fonts-raleway/scss/raleway";

$roboto-font-path: '../../fonts/roboto-fontface/fonts' !default;
@import "../../fonts/roboto-fontface/css/mixins";

$fa-font-path: "../../fonts/font-awesome/fonts" !default;
@import "../../fonts/font-awesome/scss/font-awesome";

$padding_default: 30px;
$turquoise_color: #57c5a5;
$turquoise_color_hover: $turquoise_color - 25;
$error_color: #790000;
$error_color_rgba: rgba(121, 0, 0, .6);
$item_company_offset: 150px;
$width_mobile_menu: 250px;
$header_fixed_height: 116px;
$text_color: #6f6f6f;
$border_color: #e6e6e6;
$text_color_dark: #333;
$link_color: #337ab7;

.link_transition_rules {
  opacity: 1;
  -webkit-transition: background-image .3s ease, color .3s ease, background-color .3s ease, opacity .3s ease, border-color .2s ease;
  -moz-transition: background-image .3s ease, color .3s ease, background-color .3s ease, opacity .3s ease, border-color .2s ease;
  -ms-transition: background-image .3s ease, color .3s ease, background-color .3s ease, opacity .3s ease, border-color .2s ease;
  -o-transition: background-image .3s ease, color .3s ease, background-color .3s ease, opacity .3s ease, border-color .2s ease;
  transition: background-image .3s ease, color .3s ease, background-color .3s ease, opacity .3s ease, border-color .2s ease;
  cursor: pointer;

  &:hover {
    opacity: .7;

    &:before {
      text-decoration: none;
    }
  }
}

.link_mobile_menu_styles {
  color: black;
}

.link_mobile_menu_styles_hover {
  background-color: #F6F6F6;
  color: $turquoise_color;
  text-decoration: none;
}

.link_mobile_menu_styles_active {
  background-color: $turquoise_color;
}

.dark_color {
  color: $text_color_dark;
}

.section_triangle {
  overflow: hidden;
}

.triangle {

  width: 0;
  height: 0;
  border-left: 800px solid transparent;
  border-right: 683px solid transparent;
  border-bottom: 100px solid #fff;
  margin-top: -60px;

  @media(max-width: 992px) {
    display: none;
  }

}

body.front {
  $tr_height: 300px;

  .section_company {
    @media(max-width: 992px) {
      .container {
        margin-top: 70px;
      }
    }
  }

  @media(min-width: 993px) {
    section#home {
      margin-bottom: -200px;
    }
  }

  section.content, aside {
    & > div:first-child {
      padding-top: $padding_default;

    }
  }

  .triangle-container {
    background: transparent;
    width: 100%;
    margin-top: $tr_height / 3 * -1;

    @media(max-width: 992px) {
      display: none;
    }

    &__item {
      position: relative;
      height: $tr_height;
      float: left;

      &-left {
        width: 60%;
      }

      &-right {
        width: 40%;
      }

    }

  }

  .triangle {
    background: #fff;
    height: $tr_height * 3;
    width: 120%;
    margin: 0;
    position: absolute;

    &-left {
      transform: rotate(-12deg);
      transform-origin: right top;
      right: 0;
    }

    &-right {
      transform: rotate(17deg);
      transform-origin: left top;
      left: 0;
    }
  }

}

body.not-front {
  $tr_height: 100px;

  section#home {
  }

  section.content, aside {
    & > div:first-child {
      padding-top: $padding_default;

    }
  }

  .triangle-container {
    background: transparent;
    width: 100%;

    @media(max-width: 992px) {
      display: none;
    }

    &__item {
      position: relative;
      height: $tr_height;
      float: left;

      &-left {
        width: 40%;
      }

      &-right {
        width: 60%;
      }

    }

  }

  .triangle {
    background: #fff;
    height: $tr_height * 3;
    width: 120%;
    margin: 0;
    position: absolute;
    bottom: ($tr_height * 3) * -1;

    &-left {
      transform: rotate(10deg);
      transform-origin: right top;
      right: 0;
    }

    &-right {
      transform: rotate(-6deg);
      transform-origin: left top;
      left: 0;
    }
  }

}

body {

  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .75px;
  color: $text_color;

  .intro-bg {
    //background-size: 100% !important;
  }
}

.intro-bg {
  background-image: url("/assets/images/theme-bg.png");
}

.has-bg-image {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.bg-image-fixed {
  background-attachment: fixed;
}

.text-italic {
  font-style: italic;
}

.color-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  padding: $padding_default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

button,
button:active,
button:focus,
button:hover {
  outline: none;
  border: none;
}

/**---------------
    BUTTONS
----------------- */
button, a.btn, .btn {
  padding: 8px 20px;
  border-radius: 20px;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;

  @extend .link_transition_rules;

}

a.btn:hover,
.btn:hover {
  -webkit-box-shadow: 0 0 2px #ffffff;
  box-shadow: 0 0 2px #ffffff;
}

.btn-default {
  background: transparent;
  border: 1px solid #000;
}

.btn-default:hover,
.btn-default:active {
  background: #000;
}

.btn-primary {
  color: #fff;
  background: $turquoise_color;
  border-color: $turquoise_color;
  margin: $padding_default 0;
}

a.btn-primary:hover,
.btn-primary:hover,
a.btn-primary:active:hover,
.btn-primary:active:hover {
  background-color: $turquoise_color_hover;
  border: 1px solid transparent;
  opacity: 1;
  -webkit-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 2px #fff;
}

/************************************* */

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a:hover, a:active, a:focus {
  color: #000;
  text-decoration: none;
}

a {
  color: $text_color;
}

p, td {
  a {
    text-decoration: underline;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
}

/* ====================================================
	 TABLE
==================================================== */
.table-not-border {

  &.table {

    & > thead {
      & > tr {
        & > th {
          border-bottom: none;
        }
      }
    }
  }
  &.table {
    & > tbody {
      & > tr {
        & > td, & > th {
          border-top: none;
        }
      }
    }
  }

  &.table {
    & > tfoot {
      & > tr {
        & > td, & > th {
          border-top: none;
        }
      }
    }
  }
}

//td {
//  @extend .link_transition_rules;
//}

.table-col-hover {
  background-color: #f6f6f6;
}

//PRICING
.table-pricing {

  color: $text_color_dark;

  &.table {

    & > thead {

      & > tr {
        & > th {
          text-align: center;
        }
      }
    }
  }

  &.table {
    & > tbody {

      & > tr.row-label {
        & > th {
          font-weight: bold;
          padding-left: inherit;
        }
      }

      & > tr {

        & > th {
          font-weight: normal;
          padding-left: $padding_default;
        }

        & > td {
          text-align: center;
        }

      }
    }
  }

  & > tfoot {
    & > tr {
      & > td {
        text-align: center;
        padding-top: $padding_default;
      }
    }
  }

  & > tfoot {
    & > tr.explanation {
      & > td {
        color: $text_color;
        font-size: 12px;
        text-align: right;
      }
    }
  }
}

.section_pricing {

  &__content {

    flex-direction: column;
    display: flex;

    @media (min-width: 992px) {
      flex-direction: row;
    }

  }

  &__footer {

    width: 100%;
    clear: left;
    margin-top: $padding_default;
    display: inline-block;
    font-size: 12px;
    text-align: right;

  }
}

.pricing-block {

  display: flex;
  padding: 5px;
  float: left;
  width: 100%;

  &_only-labels {
    display: none;
  }

  @media(min-width: 1200px) {

    .price-item__title {
      color: #fff;
    }

    &_only-labels {
      display: flex;

      .price-item__title {
        color: $text_color_dark;
      }

      .price-field__label {
        display: block;
      }

      .price-item__title, .price-field__label {
        text-align: left;
        width: 100%;
      }

      .price-field__label {
        margin-left: 15px;
      }

    }

    width: 25%;

  }

}

.price {

  $button_height: 40px;

  border: none;
  padding: $padding_default;
  width: 100%;
  position: relative;

  &__title {
    text-align: center;
    font-weight: normal;
    width: 100%;
    text-transform: uppercase;
    color: $turquoise_color;
  }

  &__items {

    margin-bottom: $button_height + $padding_default;

  }

  &__button {
    height: $button_height;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: $padding_default;

    a {
      &.btn {
        margin: 0;
      }
    }
  }

  @media(min-width: 1200px) {
    border: none;
    padding-top: 0;

  }
}

.price-item {

  margin-bottom: $padding_default;

  &__title {

    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;

  }

  &_last {
    margin-bottom: 0;
  }

  @media(min-width: 1200px) {
    margin-bottom: $padding_default / 2;
  }
}

.price-field {

  color: $text_color_dark;
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  border-bottom: $border_color dashed 1px;
  padding-bottom: 10px;
  justify-content: space-between;

  &__item {
    &_price {
      &:before {
        content: "$";
      }
    }
  }

  &_pricing &__item {
    font-weight: bold;
    margin-right: 5px;
  }

  &_pricing &__label {
    font-weight: normal;
    margin-right: 0;

    &:after {
      content: "";
    }
  }

  &__label {
    font-weight: bold;

    &:after {
      content: ":";
      margin-right: 5px;
    }
  }

  @media(min-width: 1200px) {

    border-bottom: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-bottom: 0;

    &__label {
      display: none;
    }

    &__label {

      &:after {
        content: "";
        margin-right: 5px;
      }
    }

    &_pricing &__item {
      font-weight: normal;
    }

  }

}

/* ====================================================
     PRE LOADER
==================================================== */
.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  overflow: hidden;
  z-index: 99999;

  img {
    width: 60px;
  }
}

.preloader .status {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -48px 0 0 -48px;
  color: #57c5a5;
  text-align: center;
}

.preloader .status i {
  font-size: 48px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.preloader .status p {
  margin-top: 20px;
  font-weight: bold;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

.back-to-top {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: auto;
  width: 32px;
  height: 32px;
  background: #fff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 10px solid #fff;
  border-radius: 100%;

  a {
    color: $turquoise_color;
    text-decoration: none;
  }

  a:hover, a:focus, a:active {
    color: #1a1a1a;
  }

  i {
    font-size: 32px;
    margin-left: -1px;
  }
}

/*----------------------
  MENU
 -----------------------*/
.menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
      float: left;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.toggle_menu {

  padding: 6px;
  float: right;
  display: none;

  @media(max-width: 922px) {
    display: block;
  }

  .toggle_menu__btn {
    padding: 6px 12px;
    font-size: 20px;
    background: transparent;
  }
}

.header__logo {
  margin-right: 5px;
  max-width: 100px;
}

.bg-overlay {
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 998;
  opacity: 0;
}

.mobile_menu {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  padding: $padding_default / 2 $padding_default;
  width: $width_mobile_menu;
  transition: left .4s ease, right .4s ease;
  right: $width_mobile_menu * -1;

  .header__menu-user {
    float: left;
    margin-top: $padding_default;
    width: 100%;
  }

  .mobile_menu__close {
    display: block;
    border: none;
    background-color: transparent;
    float: left;
    font-size: 24px;
    color: #909090;
    padding: $padding_default / 2 0;
    width: 100%;
    text-align: left;

  }

  &.open {

    -webkit-box-shadow: $turquoise_color 3px 0 15px;
    -moz-box-shadow: $turquoise_color 3px 0 15px;
    box-shadow: $turquoise_color 3px 0 15px;
    overflow-y: auto;
    padding-bottom: $padding_default;
    right: 0;
  }

  ul {
    li {
      float: none;

      a {
        width: 100%;
        @extend .link_mobile_menu_styles;
        @extend .link_transition_rules;
      }

      a:hover, a:focus, a:active {
        @extend .link_mobile_menu_styles;
      }

      a.active {
        @extend .link_mobile_menu_styles_hover;
      }

      a.btn {
        width: auto;
        color: #fff;
      }

    }
  }

  ul.dropdown-menu {
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
  }
}

.header {
  opacity: 1;
  position: relative;

  opacity: 1;

}

body.header-fixed {

  #home {

    padding-top: $header_fixed_height;

  }

  .header {
    background-color: white;
    -webkit-box-shadow: #b3b3b3 0 1px 5px;
    -moz-box-shadow: #b3b3b3 0 1px 5px;;
    box-shadow: #b3b3b3 0 1px 5px;
    position: fixed;
    top: $header_fixed_height * -1;
    width: 100%;
    z-index: 999;
    -webkit-transition: top 0.5s ease, opacity .3s ease;
    -moz-transition: top 0.5s ease, opacity .3s ease;
    -ms-transition: top 0.5s ease, opacity .3s ease;
    -o-transition: top 0.5s ease, opacity .3s ease;
    transition: top 0.5s ease, opacity .3s ease;

    &.open {
      top: 0;

    }

    .container {
      padding: $padding_default / 2 $padding_default;
    }

    .toggle_menu__btn {
      color: $turquoise_color;
    }

    .header__menu {
      a, a:focus, a:active {
        @extend .link_mobile_menu_styles;
      }

      a.active {
        @extend .link_mobile_menu_styles_hover;
      }

      a.btn-primary {
        color: #fff;
      }
    }
  }

}

/* Meet */

body.meet {

  .section_home {
    & > div.container {
      display: none;
    }

    & > div.triangle-container {
      display: none;
    }
  }

  .section_meet {
    background-color: #F5F8FA;
  }
}

/* End Meet */

.header__menu {
  a {
    color: #fff;
    font-size: 19px;
    padding: 14px;
    display: inline-block;
  }

  a.active {
    color: #c1c1c1;
    text-decoration: underline;
  }

  a.btn {
    padding: 8px 20px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0;
    text-transform: uppercase;

    &:hover, &:focus, &:active {
      background-color: $turquoise_color_hover;
      opacity: 1;
      text-decoration: none;
    }
  }
}

.mobile_menu__close {
  display: none;
}

.header__menu-user {
  float: right;
}

ul.dropdown-menu {

  padding: 10px !important;

  & > li {

    width: 100%;

    & > a {
      font-weight: normal;
      font-size: 14px;
      padding: 4px 20px;
      color: $text_color;
      //white-space: inherit;
    }
  }
}

/**
Sections
 */

.section {

  &__header {
    text-align: center;
    margin-bottom: $padding_default * 2;

  }

  &-content {
    padding-top: $padding_default * 2;
    padding-bottom: $padding_default * 2;
    display: inline-block;
    width: 100%;
  }

  &-default, &-content {

    .container {
      padding-top: $padding_default * 2.5;
      padding-bottom: $padding_default * 2.5;
    }

    &__rows {

      margin-bottom: $padding_default * -1;
      display: inline-block;
    }

    .section__header {
      .title {
        margin-top: 0;
      }
    }

  }

  &-default-top {

    .container {
      padding-top: $padding_default * 2.5;

      .title {
        margin-top: 0;
      }
    }

  }

}

.section__block {
  @media (max-width: 992px) {
    padding-top: $padding_default;
    padding-bottom: $padding_default;
  }
}

.title {
  font-weight: bold;
}

.section_home {
  color: #fff;

  .title {
    color: white;
  }

  .btn {
    margin-top: 10px;
    position: relative;
    z-index: 10;
  }

  @media(max-width: 992px) {
    & > .container {
      padding-top: 0;

      h1 {
        margin-top: 0;
      }
    }
  }
}

.section_company {

  .section_company__block {
    text-align: center;

    i {
      color: $turquoise_color;
      font-size: 120px;
    }
  }

}

.section_services {
  background-color: #fff;

  i {
    font-size: 32px;
  }
}

.section_companies {

  .container {
    padding-top: $padding_default;
    padding-bottom: $padding_default;
  }

}

.section_personal {

  //background-image: url("../../images/theme-bg.png");

  .profile {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    p {
      color: #fff;
    }
  }
}

.profile {

  @media (min-width: 992px) {
    display: flex;
    align-items: center;
  }
}

.profile__avatar {
  text-align: center;
  img {
    width: auto !important;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      width: 200px !important;
    }

  }

}

.icon_dynamic {

  &:before {
    content: " ";
    background: url("/assets/images/dynamic_icon.png") no-repeat center;
    width: 32px;
    height: 32px;
    display: block;
  }

}

.section_features {
  background-color: #fff;

  .feature {
    padding-bottom: $padding_default;
  }

  .feature__icon {
    color: $turquoise_color;
    font-size: 32px;
    position: absolute;
    left: 0;
    top: -4px;

    .fa {
      display: block;
    }

  }

  .feature__text {
    padding-left: $padding_default + 15;
    .title {
      margin-top: 0;
    }
  }

  @media (min-width: 768px) {

    .row-1, .row-3 {
      clear: left;
    }
  }

  @media (min-width: 992px) {
    .row-1 {
      clear: left;
    }

    .row-3 {
      clear: none;
    }
  }

}

.section_leadership {

  &__content {

    @media(min-width: 992px) {
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      width: 100%;
    }
  }

}

.leadership {

  text-align: center;
  padding: $padding_default;

  @media(min-width: 992px) {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: ($padding_default*2) * -1;
    position: relative;
    z-index: 1;

    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  &__title {
  }

  &__subtitle {
    color: $turquoise_color;
  }

  &__avatar {

    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $padding_default;

    img {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
    }
  }

  &__social {
    @extend .link_transition_rules;
    margin: $padding_default 0;
    display: block;

    i {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      color: #fff;
      background: #000;
      font-size: 18px;
      padding: 10px;
    }

  }
}

.questions {

  @media(min-width: 768px) {
    .row-odd {
      padding-right: $padding_default;
    }

    .row-even {
      padding-left: $padding_default;

    }
  }

  &__item {
    margin-bottom: $padding_default;
  }

}

.logo-techno {
  padding: $padding_default / 3;

  @media(max-width: 480px) {
    width: 50%;
  }

  @media(max-width: 320px) {
    width: 100%;
    padding: 0 $padding_default;
  }

  &__img-box {
    padding: $padding_default;
    -webkit-box-shadow: #c7c7c7 0 0 5px;
    -moz-box-shadow: #c7c7c7 0 0 5px;
    box-shadow: #c7c7c7 0 0 5px;

    &:hover {
      -webkit-box-shadow: $turquoise_color 0 0 5px;
      -moz-box-shadow: $turquoise_color 0 0 5px;
      box-shadow: $turquoise_color 0 0 5px;

    }

  }

}

.section_separator {
  height: 100px;

  @media(max-width: 768px) {
    height: 60px;
  }

}

ul.address {

  padding-left: 0;
  list-style-type: none;

  li {
    margin-bottom: 5px;
  }

  ul {
    list-style-type: none;
  }

  strong {
    font-weight: 400;
  }
}

.section_privacy_seriously {

  p {
    color: $text_color_dark;
  }
}

/**
  SECTION CONTACT
 */
.section_contact {
  background-color: #fff;
  position: relative;

  .contact-form, .address {
    max-width: 300px;

    @media (min-width: 768px) {
      width: 300px;
    }
  }

  .contact-form {

    float: right;

    @media (max-width: 768px) {
      float: none;
      margin: 0 auto;
    }

  }

  .address {
    padding: 20px;

    .details {
      margin-bottom: 10px;
      position: relative;

      i {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 24px;
        color: #000

      }

      p {
        display: inline-block;
        padding-left: 35px;
        font-size: 14px;
      }
    }

    .social {
      padding: 20px 0 30px;

      a {
        margin-right: 5px;
        color: #000;
        @extend .link_transition_rules;
      }

      a:hover, a:focus, a:active {
        color: $turquoise_color;
      }

      i {
        font-size: 32px;
      }
    }

    @media (max-width: 768px) {
      border-top: 1px solid #ccc;
      margin: 50px auto 0 auto;
      padding: 50px 50px 0;
    }

  }
}

.form-control {
  border-radius: 20px;
  margin-bottom: 15px;
  color: #999999;
}

textarea {
  padding-top: 15px;
}

.icon_lamp {
  &:before {
    content: "\e007";
  }
}

.icon_lock_alt {
  &:before {
    content: "\7e";
  }
}

.icon_cloud_alt {
  &:before {
    content: "\e002";
  }
}

.messages {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $padding_default;
}

.messages__list {

  &.animated {

    position: fixed;
    top: 10%;
    z-index: 9999;

  }

  .message_general_style {
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #000;
    //border: #fff solid 11px;
    //-webkit-box-shadow: #c5c5c5 0 0 15px;
    //-moz-box-shadow: #c5c5c5 0 0 15px;
    //box-shadow: #c5c5c5 0 0 15px;
  }

  list-style-type: none;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  .success {
    @extend .message_general_style;
    background-color: #dff0d8;
  }

  .error {
    @extend .message_general_style;
    background-color: #f2dede;
  }

}

/**************************
    FORM
 ****************************/

form {
  position: relative;

  a {
    text-decoration: underline;
    font-size: 12px;
  }

  .errorlist {
    color: $error_color;
    text-align: left;

  }

  .checkbox {
    label {
      font-size: 12px;
    }

    input[type=checkbox] {
      margin-top: 2px;
    }
    a {
      text-decoration: underline;
    }
  }

  .has-errors {
    border: $error_color solid 1px;

    &:focus {
      border-color: $error_color;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $error_color_rgba;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $error_color_rgba;
    }

  }

  .ajax-loader {

    //border:#000 solid 1px;
    background-image: url("/assets/images/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .5);
    background-size: 50px;
    position: absolute;
    width: 100%;
    top: 0;
    display: none;

  }
}

/* ----------------------------------------
     Owl Carousel
---------------------------------------- */
/* Custom dots nav */
.owl-dots {

  display: block;
  width: 100%;
  text-align: center;

  .owl-dot {
    display: inline-block;
  }

  span {
    position: relative;
    background: transparent !important;
    float: left;
    margin: 10px;
  }
  span:before {
    content: '[';
    font-family: 'ElegantIcons';
    font-size: 16px;
    color: #fff;
    opacity: .5;
    position: absolute;
    top: -5px;
    left: -3px;
  }

  .owl-dot.active span:before {
    content: '\\';
  }
}

/**
  SIDEBAR
 */

.sidebar {
  padding-left: $padding_default * 2;
}

/**
  BLOCK
 */

.block {

  margin-bottom: $padding_default*1.5;

  &__title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  ul {

  }

}

.block-filter {

  ul {
    list-style-type: none;
    padding-left: 0;

    li {

      a {
        padding: 5px 15px;
        width: 100%;
        display: inline-block;
      }

      a.active {
        @extend .link_mobile_menu_styles_hover;
      }
    }

  }
}

.block-articles {
  a {
    text-decoration: underline;
  }
}

/****************
    FOOTER
 ***************/
.footer {
  padding-top: 0;
  text-align: center;

  hr {
    margin-top: 0;
    margin-bottom: $padding_default;
    border-width: 2px;
    border-color: #ccc;
    width: 30%;
  }

  .container {
    padding-top: 0;
  }

  &__menu {

    //border: #000 solid 1px;
    text-align: center;

    .menu_items {
      //border: red solid 1px;
      display: inline-block;
    }

    .menu {

      //padding-top: $padding_default;
      //border: green solid 1px;
      float: left;
      padding: 0 $padding_default;

      h4 {
        padding-top: 0;
        margin-top: 0;
        text-align: left;
      }

      @media(max-width: 768px) {
        text-align: center;
        float: none;
        margin-bottom: $padding_default;
      }

      ul {

        li {
          clear: both;
          float: none;
          text-align: left;

          a {
            font-size: 14px;
          }
        }
      }

    }

  }

  &__copyright {

    text-align: center;
    margin: $padding_default;
    clear: both;
    font-size: 12px;

  }

}

.steps {

  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__links {

    border-top: $text_color solid 1px;
    display: inline-block;

    a {
      &.btn {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        float: left;
        width: 20px;
        height: 20px;
        text-indent: -999px;
        padding: 0;
        background-color: #fff;
        border-color: $text_color;
        margin-top: -10px;
        margin-left: $padding_default / 2;
        margin-right: $padding_default / 2;

        &.first {
          margin-left: 0;
        }

        &.last {
          margin-right: 0;
        }

        &.active {
          background-color: $turquoise_color;
        }

        &:hover {
          opacity: 1;
          background-color: $text_color;
        }
      }
    }

  }

}

/**
  Notify Me
 */
.section_notify-me {
  width: 405px;

  @media(max-width: 405px) {
    width: 100%;
  }

  //margin-left: 35%;
  clear: both;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: $padding_default;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  .section__header {
    margin-bottom: $padding_default;
  }

  form {

    div.clear {
      //border:#000 solid 1px;
      margin-top: -15px;
    }

    .form-control {
      //margin-bottom: 0;
    }

    .btn {
      margin: 0;
    }
  }

}

/**
    BLOG
 */

.article_teaser {

  @media (max-width: 768px) {

    &__img {
      width: 100px;
      float: left;
      margin-right: 10px;
    }

    &-row {
      margin-bottom: $padding_default;
    }

    &__title {
      margin-top: 0;
    }

  }

  &-row {
    margin-bottom: $padding_default;
  }

  &.row-1 {
    clear: left;
  }

  &__title {

    a {
      color: $text_color_dark;
    }

    a:hover, a:active, a:focus {
      color: $text_color;
      text-decoration: underline;
    }

  }

  &__img {

    img {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }

  &__date {
    font-size: 14px;
    margin-bottom: $padding_default / 4;
  }

  &__body {
    color: $text_color_dark;
  }
}

.article {

  &__img {
    width: 250px;
    float: left;
    margin-right: 15px;

    img {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }

  &__date {
    font-size: 14px;
    margin-bottom: $padding_default / 4;
  }

  &__body {

    color: $text_color_dark;
  }
}

#login {

  .messages {
    width: 60%;
  }

}

.search-form {
  position: relative;

  input[type="text"] {

  }

  button[type="submit"] {
    position: absolute;
    margin: 0;
    padding: 3px 10px;
    top: 0;
    right: 0;
    font-size: 20px;
    background: transparent;
    color: $text_color;

  }
}

#appsupport {

  .section_company {

    .col-md-offset-3 {
      margin-left: 0;
    }

    @media (min-width: 992px) {
      .col-md-3 {
        width: 33.333333%;
      }
    }

  }

  .section-pricing {

    .container {
      padding-bottom: 0;
    }
  }

}

.about-video-popup {

  .mfp-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .mfp-content {
    width: 100%;
    max-width: 900px;
  }
}

#popup-with-video {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;

  .mfp-close {
    top: -44px;
    color: #FFF;
    text-align: right;
    right: 1px;
  }
}

.b-video {
  background: #EBE8E8;
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .6);

  &__player {
    width: 100%;
    height: 100%;
  }
}

.mfp-bg {
  opacity: .87 !important;
}