{% extends "accounts/layout/base.html" %}

{% block header_title %}<h1 class="title">Manage your account.</h1>{% endblock %}
{% block header_content %}
    <p>Log in to submit and review requests, add authorized requestors, and set usage limits.<br>
        You can also request a status report showing hours worked to date on open requests. <br>
    </p>
{% endblock %}

{% block content %}
    <div id="login" class="section section_login">
        <div class="section__header">
            <h2 class="title">Log In</h2>
        </div>
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            <form method="POST" id="login-form">
                {% csrf_token %}
                <input class="form-control" type="text" name="username" placeholder="Email Address">
                <input class="form-control" type="password" name="password" placeholder="Password">
                <input type="hidden" name="next" value="{{ next }}"/>
                <button class="btn btn-primary pull-right" type="submit">Next</button>
            </form>

        </div>
    </div>
{% endblock %}