{% extends "accounts/layout/base.html" %}

{% block header_title %}<h1 class="title">Let’s get started.</h1>{% endblock %}
{% block header_content %}
    <p>To create an account, you’ll simply need an email address and credit card. Once <br>
        your account has been created, you can add authorized requestors, set usage <br>
        limits, and begin submitting requests.</p>

    <p>If you want us to proactively support a system, we’ll need to step through an <br>
        onboarding process together. Log in to start the process online, and we’ll follow up <br>
        shortly with next steps.</p>
{% endblock %}


{% block content %}
    <div id="login" class="section section_login">
        <div class="section__header">
            <h2 class="title">Create An Account</h2>
        </div>
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            <form method="POST" id="login-form" novalidate>
                {% csrf_token %}
                {{ form.email }}
                {{ form.errors.email }}

                {{ form.password1 }}
                {{ form.errors.password1 }}

                {{ form.password2 }}
                {{ form.errors.password2 }}

                <button class="btn btn-primary pull-right" type="submit">Sign Up</button>
            </form>

        </div>
    </div>
{% endblock %}