<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% block meta_title %}Addo | On-demand Application Development and Support{% endblock %}</title>
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/images/android-chrome-128x128.png" sizes="128x128">
    {% block meta_tag %}{% endblock %}

    <link rel="stylesheet" href="/assets/build/css/vendor.css"/>
    <link rel="stylesheet" href="/assets/build/css/app.css"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="{% if request.path == '/' %}front{% else %}not-front{% endif %} {% block body_class %}{% endblock %}">

{% include "accounts/layout/_preloader.html" %}

<section id="home" class="section section_home section_triangle intro-bg has-bg-image"
         data-stellar-background-ratio="0.5">
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div id="logo" class="header__logo pull-left">
                    <a href="/">
                        <img class="img-responsive" src="/assets/images/logo.png" alt="Addo Website">
                    </a>
                </div>
                <div class="toggle_menu toggle_menu-mobile">
                    <button id="open-menu" type="button" class="toggle_menu__btn">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </div>
                <div id="menu-container" class="header__menu">
                    <button id="close-menu" class="mobile_menu__close"><span
                            class="glyphicon glyphicon-circle-arrow-right"></span>
                    </button>

                    <div id="user-menu" class="header__menu-user">
                        <nav class="menu">
                            <ul>
                                <li><a href="{% url 'login' %}">Log In</a></li>
                                <li><a class="btn btn-primary" href="{% url 'sign_up' %}">Sign Up</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <h1 class="title">{% block header_title %}{% endblock %}</h1>
            {% block header_content %}{% endblock %}
        </div>
    </div>
    {% block triangle %}
    <div class="triangle-container">
        <div class="triangle-container__item triangle-container__item-left">
            <div class="triangle triangle-left"></div>
        </div>
        <div class="triangle-container__item triangle-container__item-right">
            <div class="triangle triangle-right"></div>
        </div>
    </div>
    {% endblock %}
</section>


{% block page %}
{% block content %}{% endblock %}
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <div class="row">
            {% block footer_content %}
                {% include "accounts/section/copyright.html" %}
            {% endblock %}
        </div>
    </div>
</footer>
{% endblock %}


<script src="/assets/build/js/vendor.js"></script>
<script src="/assets/build/js/app.js"></script>


<script>
    new WOW().init();
</script>

{% block scripts %}{% endblock %}

<noscript>
    <img height="1" width="1" style="display:none;" alt=""
         src="https://dc.ads.linkedin.com/collect/?pid=90391&fmt=gif"/>
</noscript>

</body>

</html>